@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="content"></div>
    <script src="https://fb.me/react-15.0.1.js"></script>
    <script src="https://fb.me/react-dom-15.0.1.js"></script>
    <script src="@Url.Content("~/Scripts/showdown.min.js")"></script>
    <script src="@Url.Content("~/Scripts/node_modules/moment/moment.js")"></script>
    <script src="@Url.Content("~/Scripts/Tutorial.jsx")"></script>
@*    <script src="@Url.Content("~/Scripts/node_modules/showdown/dist/showdown.js")"></script>*@
</body>
</html>